.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px !important;
  height: 180px;
}
.checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px 5px;
}
.checkoutProduct__infoTitle {
  font-size: 17px;
  font-weight: 600;
}
.checkoutProduct__infoPrice {
}
.checkoutProduct__infoRating {
  display: flex;
}
