.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  margin: 20px auto;
  object-fit: contain;
  width: 100px;
}
.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  box-sizing: border-box;
  height: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  padding: 10px 5px;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-radius: 2px;

  margin-top: 10px;
  width: 100%;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
}
.login__registerButton {
  border-radius: 2px;
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  border: 1px solid darkgray;
}
